body { padding-left:20px;padding-right:50px;font-family: sans-serif; background-image: url("kariert.png") }
table.cartouche { margin-left: 20%; margin-right: 20% }
table.cartouche td { padding: 1.5em }
