[epydoc] # Epydoc section marker (required by ConfigParser)

# Information about the project.
name: Felo
url: http://felo.sourceforge.net

# The list of modules to document.  Modules can be named using
# dotted names, module filenames, or package directory names.
# This option may be repeated.
modules: felo_rating.py

# Write html output to the directory "apidocs"
output: html
target: ../doc/api
